.contact__form
  width: 100%
  background-color: #e0e0e0
  color: #0e0e0e
  padding: 16px

.contact__form_group input, .contact__form_group textarea
  &:focus 
    box-shadow: 0 0 0 0.2rem rgba(#0e0e0e, 0.25);

.contact__form_button--submit
  margin-top: 16px
  height: 48px
  background-color: #0e0e0e
  color: #e0e0e0
  transition: 0.5s ease-out