//----------VARABLES----------//
  
$size1: 16px
$size2: 25px
$size3: 42px
$size4: 68px
$size5: 110px
$size6: 177px
  
//----------FONTS----------//

@import url('https://fonts.googleapis.com/css?family=Source+Sans+Pro:700&display=swap&subset=latin-ext');
@import url('https://fonts.googleapis.com/css?family=Open+Sans:300&display=swap&subset=latin-ext');

@media screen and (min-width: 0px)
  .introTitle
  font-size: $size3

  .introSubtitle
    font-size: $size1

@media screen and (min-width: 768px)
  .introTitle
    font-size: $size4

  .introSubtitle
    font-size: $size2

@media screen and (min-width: 992px)
  .introTitle
    font-size: $size5

  .introSubtitle
    font-size: $size3

@media screen and (min-width: 1200px)
  .introTitle
    font-size: $size6

  .introSubtitle
    font-size: $size4

//----------STYLESHEET----------//

.app
  width: 100%
  height: 100%
  background-color: #ffffff
  font-family: 'Open Sans', sans-serif
  -webkit-font-smoothing: antialiased
  -moz-osx-smoothing: grayscale
  text-rendering: optimizeLegibility
  position: relative

h1
  font-family: 'Source Sans Pro', sans-serif