@import '../assets/sass/variables.sass'
 
//----------FONTS----------//

@import url('https://fonts.googleapis.com/css?family=Source+Sans+Pro:700&display=swap&subset=latin-ext');
@import url('https://fonts.googleapis.com/css?family=Open+Sans:300,400&display=swap&subset=latin-ext');

@media screen and (min-width: 0px)
  .menuIcon
    width: 32px
    height: 32px
    position: fixed
    top: 2.5%
    right: 5%

  .topLine, .middleLine, .bottomLine
    background-color: #e0e0e0

  .topLine
    transform: translateY( -10px )

  .bottomLine
    transform: translateY( 10px )

  .homeDescription
    font-size: $size1
    top: 10%

  .link
    font-size: $size2

  .horizontalLine
    display: none


@media screen and (min-width: 380px)
  .homeDescription
    font-size: $size2
    top: 10%

  .link
    font-size: $size2

  .horizontalLine
    display: none

@media screen and (min-width: 992px)
  .topLine, .middleLine, .bottomLine
    background-color: #0e0e0e

@media screen and (min-width: 768px)
  .menuIcon
    width: 48px
    height: 48px
    position: fixed
    top: 2.5%
    right: 5%

  .topLine
    transform: translateY( -16px )

  .bottomLine
    transform: translateY( 16px )

  .homeDescription
    font-size: $size2
    top: 20%

  .link
    font-size: $size2

  .horizontalLine
    display: block

@media screen and (min-width: 1200px)
  .menuIcon
    width: 48px
    height: 48px
    position: absolute
    top: 2.5%
    right: 2.5%

  .topLine, .middleLine, .bottomLine
    background-color: #0e0e0e

  .topLine
    transform: translateY( -12px )

  .bottomLine
    transform: translateY( 12px )

  .homeDescription
    top: 20%

  .horizontalLine
    display: block


//----------STYLESHEET----------//

.app
  width: 100%
  height: 100%
  background-color: #ffffff
  font-family: 'Open Sans', sans-serif
  -webkit-font-smoothing: antialiased
  -moz-osx-smoothing: grayscale
  text-rendering: optimizeLegibility
  position: relative

h1
  font-family: 'Source Sans Pro', sans-serif

//----------MENU----------//

.menuIcon
  z-index: 2
  background-color: transparent
  border: none

.menuIcon:hover, .menuIcon:active, .menuIcon:focus, .menuIcon:active:focus    
  background-color: transparent !important
  border: none !important
  box-shadow: none !important

.menuIcon:hover
  & .topLine, .middleLine, .bottomLine
    width: 120%

.topLine, .middleLine, .bottomLine
  position: absolute
  width: 100%
  height: 2px
  left: 0
  top: 50%
  transition: all .3s