.gallery
    position: absolute
    width: 100%
    height: 100%
    background-color: #e0e0e0
    overflow: hidden

.gallery_slider
    display: flex
    position: absolute
    height: 70%
    top: 15%
    justify-content: space-around 

.imageWrapper
    overflow: hidden
    position: relative
    
.gallery_image
    position: absolute
    left: -100px
    transition: all 0.5s ease-out
    