.gallery_slider
    display: flex
    position: absolute
    height: 70%
    top: 15%
    justify-content: space-around 

.imageWrapper, .thumbnailWrapper
    overflow: hidden
    position: relative

.thumbnail
    filter: blur(5px)
    transform: scale(1.2)
    
.gallery_image
    position: absolute
    left: -200px
    